/* CSS Document */
/* barre bleue*/
.form-control:focus {
    box-shadow: unset;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1em;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

/*Police*/
@font-face{
    font-family: 'EQPro-Regular';
    src: url("../fonts/EQ/EQPro-Regular.ttf");
}
@font-face{
    font-family: Tahoma;
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/TahomaRegular.ttf");
}
@font-face{
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

/*KeyFrames*/


@keyframes fade-out{
	from{opacity: 1;}
	to{opacity: 0;}
}
@keyframes fade-in{
	from{opacity: 0;}
	to{opacity: 1;}
}
@keyframes time-out{
	from{width: 0;}
	to{width: 100%;}
}
@keyframes showing-down{
	from{border-radius: 0 0 10px 10px}
	to{border-radius: 0;}
}
@keyframes showing-up{
	from{border-radius: 0}
	to{border-radius: 0 0 10px 10px;}
}
@keyframes show-down{
	0%{
		max-height: 0;
		opacity: 0;
	}
	1%{
		max-height: 0;
		opacity: 1;
	}
	100%{
		max-height: 25vh;
		opacity: 1;
	}
}
@keyframes show-up{
	0%{
		max-height: 25vh;
		opacity: 1;
	}
	99%{
		max-height: 0;
		opacity: 1;
	}
	100%{
		max-height: 0;
		opacity: 0;
	}
}

/*Elements*/
*{
	font-family: 'EQPro-Regular', Tahoma, 'Quicksand';
}

*{
  /* box-sizing: border-box; */
  font-size: 1em;
}
* input:focus, textarea:focus, button:focus{
  outline: none;
}

* [type='button']{
  -webkit-appearance: none;
}

* ::placeholder{
  color: #CECDCD;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* scrollbar-color: rgba(255, 255, 255, .5) rgba(0, 0, 0, .5);
  scrollbar-width: 7px; */
}

body{
  display: flex;
  flex-direction: column;
  outline: none;
}

/* Header */

header{
  /* position: fixed;
  z-index: 1000;
  top: 0px;
  width: 100vw; */
  position: relative;
  width: 100%;
  height: auto;
}

#header3{
  display: none;
}

#header3hamburger{
  display: none;
}

#header1{
  padding: 10px 12%;
  background-color: #E9E3D3;
  height: 7vw;
}

#header1>nav{
  height: 100%;
}

#header1>nav>ul{
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 0px;
}

#header1>nav>ul>li{
  display: inline-block;
}

.iconeRight{
  display: flex;
  justify-content: space-between;
  min-width: 5em;
}

#divHeader{
  background-color: #3BA1E4;
  display: inline-block;
  /* width: 22%; */
  width: 16vw;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}

#inscriptionconnexion{
  background-color: #3BA1E4;
  display: inline-block;
  /* width: 22%; */
  min-width: 16.4vw;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
}

#showProfil {
  display: flex;
  min-width: 16.4vw;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}



#header1>nav>ul>div>li{
  width: auto;
  display: inline;
  justify-content: center;
  text-align: center;
}

#header2{
  padding: 10px 12%;
  height: 3.5vw;
  background-color: #304771;
}

#header2>nav{
  height: 100%;
}

#header2>nav>ul{
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding-left: 0px;
}

#header2>nav>ul>li{
  display: inline-block;
}

#header2>nav>ul>li>a{
  font-family: EQPro-Regular;
  font-size: 1.4em;
  line-height: 26px;
  text-decoration: none;
  color: white;
  text-align: center;
}

#header2 a:hover{
  color: #3BA1E4;
  transition: .3s ease;
}

#textHeader11:hover, #textFilter:hover ,#textHeader12:hover{
  color: #304771;
  transition: .3s ease;
}

#textHeader11{
  box-sizing: border-box;
  width: 18vw;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  background-color: #3BA1E4;
  border: none;
  font-family: Tahoma;
  font-size: 1em;
  line-height: 22px;
  color: white;
  padding: 0.7em 0.7em;
  outline: none;
}

.showComments{
  display: flex!important;
}

#buttonComment{
  box-sizing: border-box;
  width: 16vw;
  border-radius: 15px;
  justify-content: center;
  text-align: center;
  background-color: #3BA1E4;
  border: none;
  font-family: Tahoma;
  font-size: 1.2em;
  line-height: 22px;
  color: white;
  padding: 0.7em 0.7em;
  outline: none;
}

#buttonComment:hover{
  color: #304771;
  transition: .3s ease;
}

#pseudoHeader{
  display: flex;
  float: left;
  justify-content: center;
  text-align: center;
  border: none;
  font-family: Tahoma;
  font-size: 1.2em;
  color: black;
  outline: none;
  text-decoration: none;
}

#imgHeader1{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 2.3em;
}

#imgHeader2{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  outline: none;
  width: 2.3em;
}

#textHeader12{
  display: inline-block;
  font-family: Tahoma;
  font-size: 1em;
  line-height: 22px;
  text-decoration: none;
  color: white;
  padding: 0.7em 0.7em;
}

#barHeader{
  display: inline-block;
  font-family: Tahoma;
  font-size: 1.2em;
  line-height: 22px;
  text-decoration: none;
  color: white;
}

#textHeader1:hover{
  color: #304771;
  transition: .3s ease;
}

.searchBar{
  display: flex;
  flex-direction: column;
  background-color: white;
  /* width: 21%; */
  width: 16.4vw;
  max-height: 3vw;
  border-radius: 1vw;
  justify-content: flex-start;
  text-align: center;
}
.searchBar>input{
  background: url(../pictures/nav/research.svg);
  background-repeat: no-repeat;
  background-size: 2vw;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  /* width: auto; */
  border-radius: 1vw;
  align-items: center;
  justify-content: center;
  outline: none;
  line-height : 0;
}
.searchBar>input::placeholder{
  color: #cecdcd;
  vertical-align: middle;
  font-size: 1.2vw;
  line-height: 1vw;
  width: 16.4vw;
}
#result-search{
  display: none;
  position: absolute;
  top: 10.5vw;
}
.researchResult{
  border-bottom: 1px solid black;
  background-color: white;
  width: 15.2vw;
  margin-left: 0.2vw;
  text-align: center;
  font-family: 'EQPro-Regular';
}
.researchResult:hover{
  background-color: #E9E3D3;
  cursor: pointer;
  color: #3ba1e4;
  transition: .3 ease;
}
.researchResult:hover a{
  background-color: #E9E3D3;
  cursor: pointer;
  text-decoration: none;
  color: #3ba1e4;
  transition: .3 ease;
}

.researchResult a{
  color: black;
  height: 1.5em;
  font-family: 'EQPro-Regular';
}

.researchResult a:hover{
  text-decoration: none;
  background-color: #E9E3D3;
  color: #3ba1e4;
  height: 1.5em;
  font-family: 'EQPro-Regular';
}

.researchResultTitle{
  color: white;
  margin-top: 20px 0;
  width: 15.2vw;
  height: 1.5em;
  margin-left: 0.2vw;
  text-align: center;
  background-color:#304771;
  font-weight: lighter;
}
.researchResultZero{
  color: black;
  margin-top: 20px 0;
  width: 15.2vw;
  height: 1.5em;
  margin-left: 0.2vw;
  text-align: center;
  background-color:white;
  font-weight: lighter;
}

#home{
  width: 3vw;
  height: 3vw;
  display: block;
  /* background: url("../pictures/nav/home-run-blanc.svg") no-repeat; */
  background: url("../pictures/nav/homeWhite.svg") no-repeat;
  transition: .3s ease;
}

#home:hover{
  width: 3vw;
  height: 3vw;
  display: block;
  /* background-image: url("../pictures/nav/home-run-bleu.svg"); */
  background-image: url("../pictures/nav/homeBlue.svg");
  transition: .3s ease;
}


/* main */

main{
  /* position: relative; */
  /* width: 100%;
  height: 100%; */
  background-color: #E9E3D3;
  /* min-height: 100vh; */
  flex: auto;
}

/*Modal*/

.modal_bg{
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	justify-content: center;
	align-items: center;
}

.mod_content{
	background-color: #E9E3D3;
	border: 2px solid #304771;
	border-radius: 10px;
	width: 80vw;
	min-height: 80vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: content-box;
  overflow-x: auto;
}

.mod_header{
	background-color: #304771;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7.5vh;
	border-bottom: solid 3px #304771;
	color: white;
}

.mod_main{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 2% 0;
  overflow-x: auto;
}

.mod_footer{
	background-color: #304771;
	border-top: solid 2px #304771;
	min-height: 7.5vh;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.close_mod{
	color: white;
	font-size: 2rem;
	cursor: pointer;
	background-color: transparent;
	border: none;
	width: 50%;
	transition: background-color .1s linear, color .1s linear;
  outline: none;
}

/* .close_bar{
  height: 100%;
  color: white;
} */

.close_mod:hover{
	/* background-color: #304771; */
	color: black;
  outline: none;
}

/* .close_mod:first-child{
	border-right: solid 2px white;
  outline: none;
}

.close_mod:last-child{
	border-left: solid 2px white;
  outline: none;
} */

/* Modal Client */

.modal_bg_client{
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	justify-content: center;
	align-items: center;
}

.mod_content_client{
	background-color: #304771;
	border-radius: 30px;
	width: 60vw;
	max-height: 95vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mod_content_client>left{
  position: absolute;
  top: 5px;
}

.mod_content_client img{
  width: 1em;
  margin-left: 1em;
  margin-top:1em;
}

.mod_content_client_header{
	background-color: #304771;
	border-radius: 30px;
	width: 60vw;
	max-height: 95vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.mod_content_client_header>left{
  position: absolute;
  top: 5px;
}

.mod_header_client{
	background-color: #304771;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 7.5vh;
	border-bottom: solid 3px #304771;
	color: white;
}

.mod_main_client{
	display: flex;
	flex-flow: column;
	align-items: center;
	padding: 2% 0;
  overflow-x: auto;
}

.mod_footer_client{
	background-color: #304771;
	border-top: solid 2px #304771;
	min-height: 7.5vh;
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

/*mdoal UsersLikes*/

.modal_bg_users_likes{
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: auto;
	background-color: rgba(0,0,0,0.4);
	justify-content: center;
	align-items: center;
}

.mod_header_users_likes{
  top: 0;
	background-color: #304771;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	border-bottom: solid 3px #304771;
  border-radius: 30px 30px 0 0;
  color: white;
}

.mod_header_users_likes>a{
  position: absolute;
  padding-right: 12em;
  padding-bottom: 0.2em;
}

.mod_header_users_likes>a>img{
  width: 0.65em;
  margin-top: 0.1em;
  /* padding-right: 500px; */
}

.mod_header_users_likes>span{
  margin-top: 0.4em;
}

.mod_header_phone_avocat{
  top: 0;
	background-color: #304771;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 5vh;
	border-bottom: solid 1px white;
  border-radius: 30px 30px 0 0;
  color: white;
}

.mod_header_phone_avocat>a{
  position: absolute;
  /* margin-right: 5em; */
  padding-right: 8.3em;
}

.mod_header_phone_avocat>a>img{
  width: 0.65em;
  margin-top: 0.1em;
  /* padding-right: 500px; */
}

.mod_header_phone_avocat>span{
  margin-top: 0.4em;
}

.mod_content_users_likes{
	background-color: #d7d1c2;
	border-radius: 30px;
	width: 30vw;
	height: 20vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.mod_content_phone_avocat{
	background-color: #304771;
	border-radius: 30px;
	width: 20vw;
	height: 20vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
  color: white;
}

#mod_main_phone_avocat{
  display: flex;
  justify-content: center;
  align-items: center;
	/* align-items: center; */
	padding: 2% 0;
  margin-bottom: 2em;
  height: 10vh;
}

#mod_main_users_likes{
	display: flex;
	flex-flow: column;
  margin-left: 2em;
	padding: 2% 0;
  overflow-x: auto;
  margin-bottom: 1em;
  height: 10vh;
}

#mod_main_users_likes p{
  margin-bottom: 0.2em;
  color: #3BA1E4;
}

#mod_main_users_likes a{
  color: black;
  text-decoration: none;
}

#mod_main_users_likes a:hover{
  color: #3BA1E4;
  text-decoration: underline;
}

#modalClient{
  display: flex;
  margin: 1% 20% 1% 20%;
  padding: 2%;
  /* border: 3px solid #d7d1c2; */
  justify-content: space-between;
}

#modalClient input option label{
  font-family: 'Quicksand';
}

#modalClient form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-height: 80%;
  color: white;
  width: 35em;
  /* margin-top: -5em; */
}

#modalClient p{
  text-align: center;
  margin: 0;
}

#modalClient form>div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
  width: 100%;
}

#modalClient form>center, form>small{
  margin-bottom: 1em;
  margin-top: 1em;
}

#modalClient form>small>center{
  margin-top: -1.5em;
}

#modalClient input::placeholder{
  color: #cecdcd;
}

#modalClient form>div>input, form>div>select{
  /* justify-content: center;
  align-items: center; */
  width: 47%;
  min-height: 5%;
  border-radius: 10px;
  border: none;
  padding: 0.4em;
  outline: none;
}

#modalClient form>input{
  width: 100%;
  height: 3vw;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  padding: 0.4em;
}

#modalClient form>textarea{
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  padding: 0.4em;
}

.checkboxModal{
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  max-width: 25em;
}

.checkboxModal a{
  color: #3BA1E4;
}

.checkboxModal a:hover{
  color: #3BA1E4;
}
.form-control{
  height: 3vw;
}
#modalClient form>input[type="submit"]{
  width: 35%;
  height: 1.4em;
  background-color: #3BA1E4;
  border-radius: 10px;
  border: none;
  padding: 0;
  color: white;
  font-size: 1.5em;
}

#modalClient form>input[type="submit"]:hover{
  color: #304771;
}

/*DropDown*/

.btn_modal[name='usersLikes']{
  -webkit-appearance: none;
  margin-bottom: 0.5em;
}

.btn_modal[name='usersLikes']:hover{
  text-decoration: underline;
  color: #3BA1E4;
}

.dropbtn:focus{
	outline: none;
}

#showProfil ul{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16.4vw;
  height: auto;
  z-index: 15000;
  top: 0;
  margin-top: 18.5vh;
  list-style: none;
  flex-flow: column nowrap;
  padding-inline-start: 0px;
  justify-content: left;
  text-align: left;
  border: solid 4px #D7D1C2;
  padding: 1% 2% 1% 2%;
}

#showProfil>div[name="notifications"]{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16.4vw;
  max-width: 16.4vw;
  min-height: 31vh;
  max-height: 31vh;
  z-index: 15000;
  margin-top: 8.5em;
  list-style: none;
  flex-flow: column nowrap;
  padding-inline-start: 0px;
  justify-content: left;
  text-align: left;
  border: solid 4px #D7D1C2;
  padding: 1% 2% 1% 2%;
}

#showProfil>div[id="dropDownNotificationDiv"]{
  display: none;
  position: absolute;
  background-color: white;
  min-width: 16.4vw;
  max-width: 16.4vw;
  min-height: 31vh;
  max-height: 31vh;
  /* width: 16.4vw; */
  height: 31vh;
  z-index: 15000;
  margin-top: 18.5vh;
  list-style: none;
  /* flex-direction: column-reverse; */
  padding-inline-start: 0px;
  /* justify-content: flex-end; */
  text-align: left;
  border: solid 4px #D7D1C2;
  padding: 0;
  overflow: auto;
}

.drop_down_content hr{
  border-top: solid 0.5px #304771;
  font-size: 20px;
  color: black;
}

.drop_down_content>li>a{
  font-family: helvetica;
  padding: 2% 2% 0% 2%;
  color: #3BA1E4;
	font-size: 15px;
  line-height: 18px;
  text-decoration: none;
}
.drop_down_content>li>a:hover{
  border-bottom: solid 0.3px;
}

#dropDownNotificationDiv{
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}

.divCenterNoNotif{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

/* #dropDownNotificationDiv div[name='divNoNotif']{
  padding: 4% 4% 1% 4%;
  width: 100%;
} */

.g-recaptcha {
margin-top: 1vw;
margin-bottom: 1vw;
}

#dropDownNotificationDiv div[name='divOneNotif']{
  padding: 4% 4% 1% 4%;
  width: 100%;
}

#dropDownNotificationDiv div[name='divOneNotif']:hover{
  background-color: #E9E3D3;
  border-bottom: solid 0.5px #304771;
  transition: .3s ease;
}

.displayNotif{
  position: relative;
}

.redRound{
  position :absolute;
  color: white;
  font-family: "EQPro-Regular";
  display: flex;
  justify-content: center;
  align-items: center;
  top :-0.3em;
  right: -26%;
  width: 1.2em;
  height: 1.2em;
  border-radius: 100%;
  content: "20+";
  background-color: red;
}

.formPublications{
  padding: 10px 12%;
}

.formPublications input[type="submit"]{
  background-color: #3BA1E4;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1em;
  width: 5.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formPublications input[type="submit"]:hover{
  transition: .3s ease;
  color: #304771;
}


/* profil */

#modifProfil{
  display: flex;
  margin: 1% 20% 1% 20%;
  padding: 2%;
  /* border: 3px solid #d7d1c2; */
  justify-content: space-between;
}

#modifProfil input option label{
  font-family: 'Quicksand';
}

#modifProfil form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0;
}

#modifProfil form>div{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

#modifProfil form>center{
  margin-bottom: 1em;
}

#modifProfil form>div>input, #modifProfil form>div>select{
  /* justify-content: center;
  align-items: center; */
  -webkit-appearance: none;
  width: 47%;
  min-height: 5%;
  border-radius: 10px;
  border: none;
  padding: 0.4em;
  outline: none;
  /* margin-bottom: 0.5em; */
}

#modifProfil form>input{
  width: 100%;
  margin-bottom: 1em;
  border-radius: 10px;
  border: none;
  padding: 0.4em
}

.modifProfilButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BA1E4;
  width: 100%;
  /* height: 2vw; */
  padding: 0.4em;
  border-radius: 10px;
  color: white;
  border: none;
}

.barProfil{
  /* height: 100%; */
  height: 38em;
  border-right: 2.5px solid #304771;
}

.publicProfile{
  margin: 2% 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.publicProfile img{
  max-height: 400px;
	max-width: 300px;
}

.publicProfile>div{
  margin-bottom: 2em;
}

.publicProfile>div[name="desc"]{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#pdp{
	max-height: 400px;
	max-width: 300px;
  border-radius: 7px;
  align-items: center;
}

.profilePicture{
  display: flex;
  flex-direction: column;
  text-align: center;
  /* max-height: 400px;
	max-width: 300px; */
  /* position: relative; */
  /* bottom: 0;
  right: 0; */
}

.profilePicture img{
  max-height: 400px;
	max-width: 300px;
  display: block;
  align-self: center;
  margin-bottom: 1vw;
  margin-top: 1vw;
}
.profilePicture label{
  margin-bottom: 1vw;
}
.profilePicture .form-control-file{
  margin-bottom: 1vw;
}

#modifProfil form>div>input[name='newsletter']{
  width: auto;
}

.profilCheckbox>input{
  width: auto;
}

.checkbox{
	background-color: #CECDCD;
	border-radius: 5px;
	width: 3vh;
	height: 2.5vh;
	user-select: none;
}


.astuceContainer{
  margin: 2% 15%;
  background-color: #304771;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.astuceContent p{
  margin: 0;
}

.astuceImg{
  /* padding: 0% 5% 0% 5%; */
  background-color: #304771;
}

.astuceContainer>div[margin="yes"]{
  margin-bottom: 1em;
}

.astuceHeader{
  padding: 1% 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.astuceHeader img{
  width: 2em;
  background-color: #304771;
}

.astuceHeader>h2{
  color: #3BA1E4;
}

.astuceImg .carousel-indicators{
  bottom: -4em;
}

.astuceImg .carousel-indicators li{
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 0.80vw;
  height: 0.80vw;
  border-radius: 50%;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color:#486fa8;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 1;
  transition: .6s ease;
}


.astuceImg .carousel-indicators .active {
    opacity: 1;
    background-color: #3BA1E4;
}

.astuceContent{
  width: 90%;
  /* margin: 8%; */
  padding-left: 3%;
  padding-right: 3%;
  line-height: 1.42;
  color: white;
}

.ql-editor{
  height: auto;
}

.astuceReaction{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 75%;
}

.astuceReaction img{
  width: 2vw;
  margin-bottom: 0.3em;
}

.astuceSurpise, .astuceLaught, .astuceLove, .astuceSmile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.statNumber1, .statNumber2, .statNumber3, .statNumber4{
  display: flex;
  justify-content: center;
  width: 3em;
  background-color: #E9E3D3;
  border-radius: 10px;
}

.horizontalBar{
  height: 0.1em;
  background-color: white;
  width: 93%;
  border: 1px solid white;
}

.astuceSocial{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 93%;
}

.socialMedia{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 12em;
}

.socialMedia img{
  width: 2em;
}

.astuceComment{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  /* min-height: 10em; */
  max-height: 15em;
  width: 93%;
}

.astuceComment>div[name="comments"]{
  height: auto;
  overflow-y: auto;
  flex-direction: column;
}

.astuceComment img{
  width: 1.5em;
  margin-bottom: 0.5em;
}

.commentRight>p{
  margin-left: 3.5em;
}

.commentLeft{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: flex-start;
  width: 100%;
}

.answerLine{
  display: flex;
  flex-direction: row;

  margin-top: 1em;
}

.answerLine p{
  margin: 0px;
}

.answerLine>p{
  color: white;
  cursor: pointer;
  width: 4.5em;
}

.answerLine>p:hover{
  text-decoration: underline;
  color: #3BA1E4;
}

.answerLine div>p{
  color: white;
  cursor: pointer;
  width: 0.7em;
}

.answerLine div>p:hover{
  text-decoration: underline;
  color: red;
}


.commentAndAnswer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 1em;
}

.commentLeft div[name="horizontal"]{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: -1em;
}

.CommentColumnLeft{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.CommentColumnLeftAnswer{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 2em;
  margin-top: 1em;
}

.CommentColumnRight{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1em;
}

.CommentColumnRightAnswer{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 1em;
  margin-right: 2em;
}

.commentRight{
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  /* width: 100%; */
}

.commentRight div[name="horizontal"]{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: -1em;
}

.commentLeft div[name="divOneComment"]{
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  /* width: auto; */
  min-width: 12em;
  max-width: 90%;
  padding: 0.5em;
  height: auto;
}

.commentRight div[name="divOneComment"]{
  background-color: white;
  border-radius: 10px;
  display: inline-block;
  /* width: auto; */
  min-width: 12em;
  max-width: 90%;
  padding: 0.5em;
  height: auto;
}

.astuceComment>div small{
  color: #3BA1E4;
}

.pseudoAnswer{
  text-decoration: underline;
  color: #3BA1E4;
}

.inputCommentFade{
  /* background-color: linear-gradient(#304771, white 0%); */
  background-color: #304771;
  /* filter: blur(15px);
  height: 5em;
  width: 100%; */
  height: 0.1em;
}

.inputComment{
  width: 100%;
  /* height: 1em; */
  border: solid 3px white;
  border-radius: 0px;
  box-sizing: border-box;
}

.inputComment>input{
  float: left;
  width: 80%;
  border: none;
  border-radius: 0px;
  background-color: #304771;
  outline: none;
  padding: 0.5em;
  color: white;
}

.inputComment>div[contenteditable="true"]{
  float: left;
  width: 80%;
  border: none;
  border-radius: 0px;
  background-color: #304771;
  outline: none;
  padding: 0.5em;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

[contenteditable=true]:empty:not(:focus):before{
  content : attr(data-placeholder);
  color : #AAA;
}

.inputComment>button{
  float: right;
  border: none;
  width: 20%;
  /* height: 2.5em; */
  background-color: #3BA1E4;
  padding: 0.5em;
  color: white;
  height: auto;
}

.astuceFooter{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 3em;
  font-size: 1.2em;
  margin-bottom: 0;
}

.astuceFooter a{
  text-decoration: underline;
}

.astuceFooter2{
  display: none;
}

.buttonsPrevisu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
}

.paginationIndex{
  margin: 0% 14.7% 2% 14.7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.index{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  min-width: 2em;
  padding: 0.5%;
  border-radius: 5px;
  color: black;
  margin: 0 0.3em;
}

.index:hover{
  background-color: #3BA1E4;
  transition: .3s ease;
  color: white;
  text-decoration: none;
}

.indexActive{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BA1E4;
  min-width: 2em;
  padding: 0.5%;
  border-radius: 5px;
  color: white;
  margin: 0 0.3em;
}
.indexNonActive{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #304771;
  min-width: 2em;
  padding: 0.5%;
  border-radius: 5px;
  color: white;
  margin: 0 0.3em;
}

.indexActive:hover{
   background-color: #3BA1E4;
  transition: .3s ease;
  color: white;
  text-decoration: none;
}
.indexNonActive:hover{
  background-color: #3BA1E4;
 transition: .3s ease;
 color: white;
 text-decoration: none;
}


/* Blog */

.blogContainer{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0% 12%;
  box-sizing: border-box;
}

.blogTitle{
  margin: 2% 0%;
}

/* .blogCorps[name='first']{
  width: 100%;
  max-height: 20em;
} */

.blogContent{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
}

.blog[name='first']{
  width: 100%;
  height: 25em;
  margin-bottom: 1.5em;
   background-size: contain; background-repeat: no-repeat; background-size: 100% 100%;
  cursor: pointer;
}

.blog[name='last']{
  width: 100%;
  height: 25em;
  margin-bottom: 1.5em;
  background-size: contain; background-repeat: no-repeat; background-size: 100% 100%;
  cursor: pointer;
}

.blog{
  width: 49%;
  height: 15em;
  margin-bottom: 1.5em;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-size: contain; background-repeat: no-repeat; background-size: 100% 100%;
  cursor: pointer;
}

.blogText{
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  color: white;
  padding: 0.5em;
}

.blog[name=first]>.blogText{
  /* padding-top: 18em; */
}

.blogText h3, .blogText h5{
  font-family: 'Quicksand';
}

.articleBlogContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2% 0%;
}

.articleBlogContainer>img{
  width: 30em;
  height: 20em;
}

.articleBlogContainer>h1{
  /* display: flex;
  justify-content: flex-start;
  align-self: flex-start; */
  font-weight: bold;
  margin: 0 18% 0 18%;
}

.articleBlogContainer>h1, .articleBlogContainer>h4{
  margin-bottom: 0.2em;
}

.articleBlogContainer>h4{
  /* font-weight: bold; */
  display: flex;
  align-self: center;
  margin: 0% 18% 1.5em 18%;
  /* align-self: flex-start; */
  /* display: none; */
}

.articleBlogContainer *{
  font-family: 'Quicksand';
}

/* condition gestion */

.conditionGestion{
  margin: 1% 20% 1% 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.conditionGestion>h1{
  margin-bottom: 5%;
}

.conditionGestion>input{
  margin-bottom: 5%;
}

.conditionGestion>input[type="submit"]{
  margin-bottom: 10%;
  height: 2rem;
  width: 5rem;
  border: none;
  background-color: #3BA1E4;
  color: white;
  border-radius: 10px;
}


/* index select */

#index_select{
  background-color: white;
  margin-left: 15%;
  margin-right: 15%;
  font-family: Quicksand;
  color: black;
  font-size: 14px;

}

#index_select ul{
  list-style: none;
}

.one_show{
  background-color: #304771;
  font-family: Quicksand;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
}

.index_foot_article{
  background-color: #FFFFFF;
  font-family: Quicksand;
  margin-left: 15%;
  margin-right: 15%;
  color: black;
}



.first_one{
  padding-left: 5em;
}

.sith:hover{
  color: red;
}




/* footer */

#footer{
  background-color: #304771;
  font-family: Tahoma;
  font-weight: light;
  color: white;
  font-size: 1vw;
  /* position: absolute;
  bottom: 0px; */
  height: auto;
  padding: 10px 12%;
  outline: none;
  list-style: none;
}

footer a{
 color: white;
 font-size: 1vw;
 text-decoration: none;
}

footer a:hover{
 color: white;
 text-decoration: underline;
}

.footerGlobal{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#gestion{
  color: #3BA1E4;
}

.footer_title{
  font-weight: bold;
  font-size: 1.2vw;
}

.footer_validator{
  background-color: #3BA1E4;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-top: -0.6vh;
}

#newsletter_validator{
  margin-top: -0.6vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.footer_input{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3BA1E4;
  padding: 0 0.5em;
  color: white;
  height: 3.3vh;
  outline: none;
}

#subscribe_newsletter{
  margin-bottom: 1.5rem;
}

#footer_search_mail{
  margin-right: 0px;
  padding-right: 0px;
  padding-left: 0.5em;
  border-width: 0px;
  border-radius: 0px;
  height: 3.3vh;
}


#table_trick{
  background-color: white;
  margin-top: 2%;
  margin-left: 12%;
  margin-right: 12%;
  margin-bottom: 5%;
  border: 3px solid #d7d1c2;
}

#pointer_delete, #pointer_consult, #consult_point{
  cursor: pointer;
}

#article_filter_section{
  position: relative;
  margin-left: 12%;
  margin-right: 12%;
  width: auto;
  height: auto;
  background-color: white;
}
#aricle_filter_parent{
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  font-weight: 12px;
  justify-content: space-evenly;
  align-items: center;
}
#article_filter_div_prive, #article_filter_div_public, #article_filter_div_europeen{
  width: 25%;

  padding: 20px;
}
#article_filter_div_filter{
  width: 25%;
  text-align: right;
  padding: 20px;
}
#ask_pic{
  height: 20px;
  width: auto;
}
#filtre_domain_picture{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#filtre_subdomain select option[value=""] {
	color:#CECDCD;
}
#filtre_subdomain{
	color:black;
}

.selectForm{
  width: 100%;
  outline: none;
  padding: 5px;
  margin-top: 10px;
  border-color : black;
  font-size: 15px;
  /* text-align: right; */
  border-style:solid;
  border-width: 1px;
  border-radius: 10px;
  background: url(../pictures/nav/arrow.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: calc(100% - 10px) center;
  background-repeat: no-repeat;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#modalClient form>input, form>textarea {
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
    border: none;
    /* font-size: 2vh; */
    padding: 0.4em;
}


#textFilter{
  box-sizing: border-box;
  width: 10vw;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
  background-color: #3BA1E4;
  border: none;
  font-family: Tahoma;
  font-size: 0.8em;
  line-height: 18px;
  color: white;
  padding: 0.7em 0.7em;
  outline: none;
}

#div_inscription_cgu{
  display:flex;
  align-items: center;
  justify-content:center;
}
.form-check-input{
  margin-top: 0;
}

.dropbtnFilter{
  display: none;
}

.col{
  padding: 0;
}

#message_pseudo{
  position: absolute;
  font-size:0.8vw;
  color: green;
  top: 3vw;
  left: 1vw;
}
#message_mdp{
  position: absolute;
  font-size:0.8vw;
  color: red;
  top: 6.6vw;
  left: 1vw;
}
#message_first_name{
  position: absolute;
  font-size:0.8vw;
  color: red;
  top: 3vw;
  left: 1vw;
}
#message_family_name{
  position: absolute;
  font-size:0.8vw;
  color: red;
  top: 3vw;
  left: 1vw;
}
/*coookieeee*/
.container-cookie-consent {
    -webkit-font-smoothing: none;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 2em 0;
    height: 6em;
    z-index: 19;
    transition: all 0.25s ease-in-out;
    background: #304771;
    box-shadow: 0px 4px 13px 0px rgba(57,57,57,0.38);
    text-align: center;
    max-width: none !important;
}
.container-cookie-consent .cookie-text {
    color: white;
    font-size: 1vw;
    line-height: 2vw;
    margin: 0;
}
.container-cookie-consent a.button-accept-cookies {
    border-radius: 5px;
    padding: 0.1vw 1vw;
    font-size: 0.9vw;
    color: #E9E3D3;
    background-color: #3BA1E4;
    text-transform: uppercase;
    transition: all 0.25s ease-in-out;
    border: 1px solid #3BA1E4;
    text-decoration: none;
    line-height: 2vw;
    margin-left: 1vw;
}
.container-cookie-consent a.button-accept-cookies:hover {
    cursor: pointer;
}
/*lawyer page */
.lawyerText{
  width: 300px;
}
.lawyerText p{
  margin-bottom: 0px;
}
.lawyerText #last_p_lawyer{
  margin-left: 96px;
      width: 300px;
  margin-top: 60px;
}
.lawyerText img{
  margin:0;
 }
#bomb_div{
  margin:47px;
}
#div_lawyer_3{
  display:flex;
  flex-direction: column;
}

#div_lawyer_5{
  align-items:center;
}
.lawyer_info_div{
  margin-top: 10px;
  display:flex;
  flex-direction: row;
  align-items:center;
  justify-content: space-between;
}
#div_terms{
  padding-top:20px;
  padding-bottom:20px;
}
